.hero {
  width: 90vw;
  margin: auto;
  margin-top: 12rem;
}
.hero .hero-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 12rem;
}
.hero .hero-info .hero-content h2 {
  color: #17c2ec;
  margin-bottom: 4rem;
}
.hero .hero-info .hero-content h1 {
  color: #ffffff;
  max-width: 55rem;
  margin-bottom: 5rem;
}
.hero .hero-info .hero-content h1 span {
  color: #17c2ec;
}
.hero .hero-info .hero-content p {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  max-width: 60rem;
  margin-bottom: 5rem;
}
.hero .hero-info .hero-content .hero-btn a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding: 2rem 2.5rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hero .hero-info .hero-content .hero-btn .hero-btn__primary {
  background-color: #17c2ec;
}
.hero .hero-info .hero-content .hero-btn .hero-btn__secondary {
  background-color: rgba(196, 196, 196, 0.1);
  margin-left: 2rem;
}
.hero .hero-img {
  position: relative;
}
.hero .hero-img .main-img img {
  border-radius: 4.3rem;
}
.hero .hero-img .doctors, .hero .hero-img .corona-img, .hero .hero-img .inspecting-img {
  position: absolute;
}
.hero .hero-img .corona-img {
  top: 41%;
  left: 88.5%;
}
.hero .hero-img .inspecting-img {
  top: 41%;
  left: -10.5%;
}
.hero .hero-img .doctors {
  display: flex;
  background-color: rgba(196, 196, 196, 0.2);
  padding: 2rem;
  max-width: fit-content;
  border-radius: 2rem;
  top: 90%;
  left: -9%;
}
.hero .hero-img h2 {
  margin-left: 2.1rem;
}
.hero .hero-img span {
  color: #17c2ec;
}
.hero .hero-img img {
  position: relative;
  clear: both;
}
.hero .hero-img img:nth-child(1) {
  left: 0;
}
.hero .hero-img img:nth-child(2) {
  left: -0.5%;
}
.hero .hero-img img:nth-child(3) {
  left: -1%;
}
.hero .banner-icon {
  background-color: rgba(196, 196, 196, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
}
.hero .hero-banner {
  width: 90vw;
  margin: auto;
}
.hero .hero-banner .banner-title {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.hero .hero-banner .banner {
  padding: 6rem 4rem 5rem 4rem;
  background-color: rgba(196, 196, 196, 0.1);
  box-shadow: 1px -8px 1px 1px rgba(196, 196, 196, 0.05);
  border-radius: 2rem 2rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-banner .banner .banner-items {
  display: flex;
  gap: 5rem;
}
.hero .hero-banner .banner .banner-items .location,
.hero .hero-banner .banner .banner-items .date,
.hero .hero-banner .banner .banner-items .vaccine {
  display: flex;
  gap: 2rem;
}
.hero .hero-banner .banner .submit-banner {
  background-color: #17c2ec;
  display: inline-flex;
  padding: 2rem 2.5rem;
  border-radius: 2rem;
}
.hero .hero-banner .banner .submit-banner a {
  text-decoration: none;
  color: #ffffff;
}

.partners-section {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 0 1rem 0;
}
.partners-section .partners {
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
.partners-section .partners img {
  fill: grey;
}

.check-corona {
  background: url(../../Assets/img/checkcovid/check-bg.jpg);
  padding: 6.3rem 0;
}
.check-corona .check-covid {
  width: 90vw;
  margin: auto;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 2rem;
  padding-bottom: 3rem;
}
.check-corona .check-covid .check-title {
  background-color: rgba(196, 196, 196, 0.05);
  padding: 3.6rem 0;
  border-radius: 2rem 2rem 0 0;
}
.check-corona .check-covid .check-title h2 {
  width: 90%;
  margin: auto;
}
.check-corona .check-covid .check-patient {
  width: 90vw;
  margin: auto;
  padding: 3.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.check-corona .check-covid .check-patient input {
  padding: 2rem 2.5rem;
  border-radius: 2rem;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  min-width: 45rem;
  background-color: transparent;
  box-shadow: none;
  border: 0.3rem solid rgba(196, 196, 196, 0.15);
}
.check-corona .check-covid .check-patient input:focus-visible {
  outline: 0.3rem solid #17c2ec;
  border: none;
}
.check-corona .check-covid .check-patient input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.4rem;
  font-weight: 500;
  user-select: none;
}
.check-corona .check-covid .check-patient a {
  text-decoration: none;
  padding: 2rem 4.6rem;
  color: #17c2ec;
  font-weight: 700;
  background-color: rgba(196, 196, 196, 0.1);
  border: 0.3rem solid #17c2ec;
  border-radius: 2rem;
}
.check-corona .check-covid .covid-cert {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.05);
  border-radius: 2rem;
  padding: 2rem 0;
  box-shadow: 0px 8px 13px 0px rgba(10, 0, 0, 0.05);
}
.check-corona .check-covid .covid-cert h2 {
  color: #17c2ec;
}
.check-corona .check-covid .covid-cert h2 a {
  color: inherit;
  margin-left: 1rem;
}

.vaccine-reasons {
  background: url(../../Assets/img/reasons/reasons-bg.jpg) no-repeat center/cover;
  padding: 6.7rem 0 8rem 0;
}
.vaccine-reasons .vaccine-reason__content {
  width: 90vw;
  margin: auto;
}
.vaccine-reasons .vaccine-reason__content .vaccine-reasons__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-reasons__heading h1 {
  max-width: 50rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-reasons__heading p {
  max-width: 53.6rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .reasons-read__more {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .reasons-read__more a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .reasons-read__more img {
  width: 3rem;
  height: 3rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 {
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 5rem 15rem 5rem 5rem;
  max-width: 45rem;
  padding: 4rem 5.5rem 7.8rem 4rem;
  order: 1;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 .card-ico {
  padding: 1.4rem;
  border-radius: 3rem;
  background-color: rgba(196, 196, 196, 0.1);
  margin-bottom: 4rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 h2 {
  color: #17c2ec;
  margin-bottom: 3rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 p {
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 4.3rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 a {
  color: #17c2ec;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-2,
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 {
  width: 35rem;
  height: 35rem;
  border: 0.3rem solid rgba(255, 255, 255, 0.5);
  border-radius: 5rem;
  padding: 4rem 5.2rem 6.3rem 4rem;
  order: 2;
  margin-left: 2rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-2 .card-ico,
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 .card-ico {
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 2.1rem;
  padding: 0.9rem;
  margin-bottom: 4rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-2 h2,
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 h2 {
  margin-bottom: 5.6rem;
}
.vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 h2 {
  margin-bottom: 8.6rem;
}

.registration {
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #212529;
}
.registration .registration-content {
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.registration .registration-content .registration-details h1 {
  width: 47rem;
  margin-bottom: 4rem;
}
.registration .registration-content .registration-details h2 {
  margin-bottom: 2rem;
}
.registration .registration-content .registration-details p {
  color: rgba(33, 37, 41, 0.5);
  font-size: 2rem;
  width: 65.4rem;
  margin-bottom: 2rem;
}
.registration .registration-content .registration-details input {
  border: none;
  font-size: 2.4rem;
  font-weight: 500;
  color: rgba(33, 37, 41, 0.55);
}
.registration .registration-content .registration-details input::placeholder {
  font-size: 2.4rem;
  font-weight: 500;
  color: rgba(33, 37, 41, 0.25);
}
.registration .registration-content .registration-details input:focus-visible {
  outline: none;
}
.registration .registration-content .registration-details .full-name {
  width: 65rem;
  height: 7rem;
  background-color: rgba(11, 21, 60, 0.15);
  border-radius: 2rem;
  padding: 2rem 3rem;
  margin-bottom: 4rem;
}
.registration .registration-content .registration-details .phone-field {
  display: flex;
  gap: 3.6rem;
  align-items: center;
  width: 40rem;
  margin-bottom: 4rem;
}
.registration .registration-content .registration-details .phone-field .phone-number {
  display: flex;
  align-items: center;
  background-color: rgba(11, 21, 60, 0.15);
  border-radius: 2rem;
  min-width: 40rem;
  padding: 1.5rem 3rem;
}
.registration .registration-content .registration-details .phone-field .phone-number .flag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.registration .registration-content .registration-details .phone-field .phone-number input {
  margin-left: 2rem;
  background-color: transparent;
}
.registration .registration-content .registration-details .phone-field a {
  padding: 2rem 7rem;
  background-color: #17c2ec;
  border-radius: 2rem;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
.registration .registration-content .registration-details .submit-reg {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: #17c2ec;
  padding: 2rem 27.9rem;
  border-radius: 2rem;
  color: #ffffff;
}
.registration .registration-content .registration-details .reg-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.6rem;
  font-size: 2rem;
  margin-top: 5rem;
}
.registration .registration-content .registration-details .reg-footer span {
  color: rgba(33, 37, 41, 0.5);
  font-size: 2rem;
  font-weight: 600;
}
.registration .registration-content .registration-details .reg-footer a {
  color: #17c2ec;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}
.registration .registration-content .registration-img {
  background-color: #0B153C;
  position: relative;
  width: 37.7rem;
  height: 55.3rem;
  border-radius: 2rem;
}
.registration .registration-content .registration-img .syringe {
  position: absolute;
  bottom: 0;
  left: 0;
}
.registration .registration-content .registration-img .corona-reg {
  position: absolute;
  top: -1.5rem;
  left: -2rem;
}
.registration .registration-content .registration-img h2 {
  position: absolute;
  color: #ffffff;
  width: 11.6rem;
  top: 4.5rem;
  left: 14rem;
  text-align: center;
}

.symptoms {
  background: url(../../Assets/img/symptoms/symptoms-bg.jpg) no-repeat center/cover;
  padding-top: 6.7rem;
}
.symptoms .symptoms-content {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.symptoms .symptoms-content h2 {
  margin-bottom: 2rem;
}
.symptoms .symptoms-content h1 {
  margin-bottom: 4rem;
}
.symptoms .symptoms-content h1 span {
  color: #17c2ec;
}
.symptoms .symptoms-content p {
  width: 86rem;
  text-align: center;
}
.symptoms .symptoms-content .symptoms-img {
  margin-top: 18rem;
  position: relative;
}
.symptoms .symptoms-content .symptoms-img .sick {
  position: relative;
}
.symptoms .symptoms-content .symptoms-img .symptom {
  position: absolute;
  display: flex;
  align-items: center;
}
.symptoms .symptoms-content .symptoms-img .symptom h2 {
  font-size: 2rem;
  color: #17c2ec;
  font-weight: 600;
  background-color: rgba(196, 196, 196, 0.2);
  padding: 2.3rem 0;
  width: 30rem;
  border-radius: 1rem;
  position: relative;
  left: -8rem;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 0;
}
.symptoms .symptoms-content .symptoms-img .symptom img {
  position: relative;
  width: 10rem;
  height: 10rem;
  z-index: 2;
}
.symptoms .symptoms-content .symptoms-img .symptom-1 {
  top: 3rem;
  left: -14rem;
}
.symptoms .symptoms-content .symptoms-img .symptom-2 {
  top: 21rem;
  left: -28rem;
}
.symptoms .symptoms-content .symptoms-img .symptom-2 h2 {
  padding-left: 6rem;
}
.symptoms .symptoms-content .symptoms-img .symptom-3 {
  top: 38rem;
  left: -36rem;
}
.symptoms .symptoms-content .symptoms-img .symptom-4 {
  top: 3rem;
  right: -24rem;
}
.symptoms .symptoms-content .symptoms-img .symptom-4 h2 {
  padding-left: 6.5rem;
}
.symptoms .symptoms-content .symptoms-img .symptom-5 {
  top: 21rem;
  right: -34rem;
}
.symptoms .symptoms-content .symptoms-img .symptom-5 h2 {
  padding-left: 6rem;
}
.symptoms .symptoms-content .symptoms-img .symptom-6 {
  top: 38rem;
  right: -42rem;
}

.feedback-section {
  background: url(../../Assets/img/feedback/feedback-bg.jpg) no-repeat center/cover;
}
.feedback-section .feedback-content {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback-section .feedback-content h2 {
  margin: 5.7rem 0 2rem 0;
  color: #17c2ec;
}
.feedback-section .feedback-content h1 {
  color: #212529;
  margin-bottom: 4rem;
}
.feedback-section .feedback-content p {
  color: rgba(33, 37, 41, 0.5);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  max-width: 95.3rem;
}
.feedback-section .feedback-content .customer-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  margin-bottom: 32.1rem;
  margin-top: 10rem;
}
.feedback-section .feedback-content .customer-feedback .profile {
  display: flex;
  align-items: end;
  justify-content: left;
  gap: 2rem;
}
.feedback-section .feedback-content .customer-feedback .profile img {
  width: 7rem;
  height: 7rem;
}
.feedback-section .feedback-content .customer-feedback .profile .customer-info h2 {
  margin: 0;
  color: #212529;
}
.feedback-section .feedback-content .customer-feedback .profile .customer-info p {
  text-align: left;
}
.feedback-section .feedback-content .customer-feedback .customer {
  background-color: rgba(196, 196, 196, 0.5);
  padding: 3rem 3.3rem 4.4rem 3rem;
  border-radius: 2rem;
}
.feedback-section .feedback-content .customer-feedback .customer .customer-testimonial {
  max-width: 37.3rem;
  margin-top: 4rem;
  text-align: center;
  font-size: 1.8rem;
}
.feedback-section .feedback-content .customer-feedback .customer .customer-testimonial span {
  color: #17c2ec;
}
.feedback-section .feedback-content .customer-feedback .pick-customer {
  background-color: #17c2ec;
  box-shadow: 0px 4px 3px 2px rgba(33, 37, 41, 0.25);
}
.feedback-section .feedback-content .customer-feedback .pick-customer p {
  color: #ffffff;
}
.feedback-section .feedback-content .customer-feedback .pick-customer .customer-info h2 {
  color: #ffffff;
}

@media screen and (max-width: 1178px) {
  .hero .hero-info {
    flex-wrap: wrap;
  }
  .hero .hero-info .hero-img {
    margin-bottom: 5rem;
  }
  .hero .hero-banner .banner-items {
    flex-wrap: wrap;
  }
  .hero .hero-banner .banner-items .row1,
  .hero .hero-banner .banner-items .row2 {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .hero .hero-banner .banner-items .submit-banner {
    width: 28.3rem;
    justify-content: center;
  }
  .partners-section .partners img {
    max-width: 21%;
  }
  .check-corona .check-covid {
    width: 85vw;
  }
  .check-corona .check-covid .check-title {
    text-align: left;
  }
  .check-corona .check-covid .check-patient {
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin-left: auto;
  }
  .check-corona .check-covid .check-patient input {
    width: 50rem;
  }
  .check-corona .check-covid .covid-cert h2 {
    font-size: 2rem;
  }
  .check-corona .check-covid .covid-cert a {
    font-size: 2rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-reasons__heading {
    flex-direction: column;
    align-items: start;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-reasons__heading h1 {
    margin-bottom: 4.1rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards {
    flex-wrap: wrap;
    gap: 4rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 {
    order: 1;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .minidesktop-cards {
    order: 2;
    display: flex;
    gap: 3.7rem;
  }
  .registration .registration-content {
    flex-direction: column;
    align-items: start;
  }
  .registration .registration-content h1 {
    margin-bottom: 6.5rem;
  }
  .registration .registration-content .registration-details {
    order: 2;
  }
  .registration .registration-content .registration-img {
    order: 1;
    margin-bottom: 7rem;
  }
  .symptoms .symptoms-content .symptoms-img .sick {
    width: 45.8rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom h2 {
    font-size: 1.8rem;
    padding: 1.2rem 0 1.2rem 0.9rem;
    width: 15rem;
    left: -3rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom img {
    width: 6.5rem;
    height: 6.5rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-1 {
    top: 1.5em;
    left: -5rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-2 {
    top: 20rem;
    left: -17rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-2 h2 {
    padding-left: 2rem;
    width: 22.5rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-3 {
    top: 11rem;
    left: -11rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-4 {
    top: 1rem;
    right: -15rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-4 h2 {
    padding-left: 2rem;
    width: 23rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-5 {
    top: 12rem;
    right: -20rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-5 h2 {
    padding-left: 2rem;
    width: 22rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-6 {
    top: 21rem;
    right: -18rem;
  }
  .symptoms .symptoms-content .symptoms-img .symptom-6 h2 {
    padding-left: 2rem;
    width: 15rem;
  }
  .feedback-section {
    background: url(../../Assets/img/feedback/feedback-bg-small.jpg) no-repeat center/cover;
  }
  .feedback-section .feedback-content .customer-feedback {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-2,
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 {
    width: 29.6rem;
    height: 29rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-2 h2,
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 h2 {
    margin-bottom: 2.4rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 img.card-ico {
    margin-bottom: 4.5rem;
  }
}
@media screen and (max-width: 375px) {
  .hero {
    margin-top: 2rem;
  }
  .hero .banner-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .hero .hero-info {
    text-align: left;
    gap: 5rem;
  }
  .hero .hero-info .hero-content h1 {
    margin-bottom: 2rem;
  }
  .hero .hero-info .hero-content h2 {
    margin-bottom: 2rem;
  }
  .hero .hero-info .hero-content p {
    margin-bottom: 4rem;
  }
  .hero .hero-info .hero-content .hero-btn a {
    font-size: 1.4rem;
  }
  .hero .hero-info .hero-content .hero-btn .hero-btn__primary,
  .hero .hero-info .hero-content .hero-btn .hero-btn__secondary {
    display: inline-flex;
    width: 13.8rem;
  }
  .hero .hero-info .hero-img .main-img img {
    width: 25.6rem;
    height: 27.5rem;
  }
  .hero .hero-info .hero-img .inspecting-img img {
    width: 5rem;
    height: 5rem;
  }
  .hero .hero-info .hero-img .corona-img img {
    width: 5rem;
    height: 4.7rem;
  }
  .hero .hero-info .hero-img .doctors {
    padding: 1.5rem 2rem;
  }
  .hero .hero-info .hero-img .doctors img {
    width: 3.8rem;
    height: 3.8rem;
  }
  .hero .hero-banner .banner-title {
    gap: 1rem;
  }
  .hero .hero-banner .banner {
    padding: 2.4rem 1rem;
  }
  .hero .hero-banner .banner .banner-items {
    gap: 0;
  }
  .hero .hero-banner .banner .banner-items .row1,
  .hero .hero-banner .banner .banner-items .row2 {
    flex-wrap: wrap;
  }
  .hero .hero-banner .banner .banner-items .row1 div,
  .hero .hero-banner .banner .banner-items .row2 div {
    gap: 1rem;
    margin-bottom: 1.4rem;
    margin-right: 2rem;
  }
  .hero .hero-banner .banner .banner-items .submit-banner {
    width: 15rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .hero .hero-banner .banner .banner-items .submit-banner a h2 {
    font-size: 1.4rem;
  }
  .partners-section .partners {
    gap: 1.2rem;
  }
  .check-corona .check-covid .check-title {
    padding: 1.4rem 0;
  }
  .check-corona .check-covid .check-patient {
    width: 90%;
  }
  .check-corona .check-covid .check-patient input {
    min-width: 10rem;
    max-width: 28rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .check-corona .check-covid .check-patient input::placeholder {
    font-size: 1.2rem;
  }
  .check-corona .check-covid .check-patient a {
    padding: 1.6rem 5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
  }
  .check-corona .check-covid .covid-cert {
    text-align: center;
    padding: 1.3rem 1.4rem;
  }
  .check-corona .check-covid .covid-cert h2 {
    font-size: 1rem;
  }
  .check-corona .check-covid .covid-cert h2 a {
    font-size: 1rem;
    margin-left: 0.4rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-reasons__heading {
    width: 80%;
    margin: 0 auto 4rem auto;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-reasons__heading h1 {
    margin-bottom: 1.7rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards {
    width: 80%;
    margin: auto;
    justify-content: start;
    gap: 3rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 {
    padding: 2rem 2rem 3.2rem 2rem;
    border-radius: 2rem 8rem 2rem 2rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 .card-ico {
    padding: 1rem;
    margin-bottom: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 p {
    font-size: 1.2rem;
    margin-bottom: 2.6rem;
    max-width: 23.5rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    max-width: 17rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 .reasons-read__more a {
    font-size: 1.4rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-1 .reasons-read__more img {
    width: 2rem;
    height: 2rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-2,
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 {
    padding: 2rem 1.2rem 2.3rem 2rem;
    width: 18.8rem;
    height: 20.2rem;
    border-radius: 2rem;
    margin-left: 0;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-2 img.card-ico,
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 img.card-ico {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-2 h2,
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .card-3 h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .vaccine-reasons .vaccine-reason__content .vaccine-cards .minidesktop-cards {
    flex-direction: column;
    gap: 3rem;
  }
}

/*# sourceMappingURL=main.css.map */
