@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "colors";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font: {
        size: 62%;
        family: "Inter", sans-serif;
    }
    color: $primary-white;  
 }
 h1,h2,p{
    font-family: Montserrat;
 }
 p{
    color: $secondary-white;
    font: {
        size: 2rem;
        weight: 400;
    }
 }
 h1{
    font: {
        size: 4.8rem;
        weight: 800;
    }
 }
 h2{
    font: {
        size:2.4rem;
        weight:700;
    }
 }
 a{
    font-size: 2.4rem;
 }

// media queries
//tablet 
@media screen and (max-width: 768px){
    h1{
        font-size: 3.6rem;
    }
    .logo{
        h1{
            font-size: 2.5rem;
        }
    }
    p{
        font-size: 2rem;
    }
    a{
        font-size: 2rem;
    }
  
}

// mobile
@media screen and (max-width: 375px){
    h1{
        font-size: 2.4rem;

    }
    h2{
        font-size: 1.2rem;
    }
    p{
        font-size: 1.4rem;
    }
}