@import "colors";
// Hero section
.hero{
    width: 90vw; 
    margin: auto;
    margin-top: 12rem;
    position: relative;
    .hero-info{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 12rem;
        .hero-content{
            h2{
                color: $primary-light-blue;
                margin-bottom: 4rem;
            }
            h1{
                color: $primary-white;
                max-width: 55rem;
                span{
                    color: $primary-light-blue;
                }
                margin-bottom: 5rem;
            }
            p{
                font-weight: 700;
                color: opacify($secondary-white, 0.2);
                max-width: 60rem;
                margin-bottom: 5rem;
                
            }
            .hero-btn{
                a{
                    color: $primary-white;
                    font-weight: 700;
                    text-decoration: none;
                    padding: 2rem 2.5rem;
                    border-radius: 2rem;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    
                }
                .hero-btn__primary{
                    background-color: $primary-light-blue;
                }
                .hero-btn__secondary{
                    background-color: $secondary-black;
                    margin-left: 2rem;
                }

            }
        }
    }
    .hero-img{
        position: relative;
        .main-img{
            img{
                border-radius: 4.3rem;
            }
        }
        .doctors,.corona-img,.inspecting-img{
            position: absolute;  
        }
        .corona-img{
            top: 41%;
            left: 88.5%;
        }
        .inspecting-img{
            top: 41%;
            left: -10.5%;
        }
        .doctors{
            display: flex;
            background-color: opacify( $secondary-black, 0.10);
            padding: 2rem;
            max-width: fit-content;
            border-radius: 2rem;
            top: 90%;
            left: -9%;
        }
            h2{
                margin-left: 2.1rem;
            }
            span{
                color: $primary-light-blue;
            }
            img{
                position: relative;
                clear: both;
                &:nth-child(1){
                    left: 0;
                }
                &:nth-child(2){
                    left: -0.5%;
                }
                &:nth-child(3){
                    left: -1%;
                }
            }
            
        }
    .banner-icon{
        background-color: $secondary-black;
        padding: 1rem;
        border-radius: 1rem;
        width: 5rem;
        height: 5rem;

    }  
    .hero-banner{
        width: 90vw;
        margin: auto;
        .banner-title{
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;
        }
        .banner{
            padding: 6rem 4rem 5rem 4rem;
            background-color: $secondary-black;
            box-shadow: 1px -8px 1px 1px transparentize($secondary-black, 0.05);
            border-radius: 2rem 2rem 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .banner-items{
                display: flex;
                gap: 5rem;
                .location,
                .date,
                .vaccine{
                    display: flex;
                    gap: 2rem;
                }
                
            }
            .submit-banner{
                background-color: $primary-light-blue;
                display: inline-flex;
                padding: 2rem 2.5rem;
                border-radius: 2rem;
               a{
                text-decoration: none;
                color: $primary-white;
               }
            }
        }
    }    
    }

//Patners section
.partners-section{
    background-color: $secondary-white;
    padding: 2rem 0 1rem 0;
    .partners{
        width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4.8rem;
        img {
            fill:grey;
        }
    }
}

//Check-covid section
.check-corona{
    background:url(../../Assets/img/checkcovid/check-bg.jpg) ;
    padding: 6.3rem 0;
    .check-covid{
        width: 90vw;
        margin: auto;
        background-color: $secondary-black;
        border-radius: 2rem;
        padding-bottom: 3rem;
        .check-title{
            background-color: transparentize($secondary-black, 0.05);
            padding: 3.6rem 0;
            border-radius: 2rem 2rem 0 0;
            h2{
                width: 90%;
                margin: auto;

            }
        }
        .check-patient{
            width: 90vw;
            margin: auto;
            padding: 3.5rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            input{
                padding: 2rem 2.5rem;
                border-radius: 2rem;
                font-size: 24px;
                font-weight: 500;
                color: $primary-white;
                min-width: 45rem;
                background-color: transparent;
                box-shadow: none;
                border: 0.3rem solid opacify($secondary-black, 0.05);
                &:focus-visible{
                outline: 0.3rem solid $primary-light-blue;
                border: none;
                }
                &::placeholder{
                    color: $secondary-white;
                    font-size: 2.4rem;
                    font-weight: 500;
                    user-select: none;
                }
            }
            a{
                text-decoration: none;
                padding: 2rem 4.6rem;
                color: $primary-light-blue;
                font-weight: 700;
                background-color: $secondary-black;
                border: 0.3rem solid $primary-light-blue;
                border-radius: 2rem;
            }
        }
        .covid-cert{
            width: 85%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparentize($secondary-black, 0.05);
            border-radius: 2rem;
            padding: 2rem 0;
            box-shadow: 0px 8px 13px 0px rgba(10, 0, 0, 0.05);
            h2{
                color: $primary-light-blue;
                a{
                    color: inherit;
                    margin-left: 1rem;
                }
            }
        }
    }
}
// Vaccine reasons section

.vaccine-reasons{
    background: url(../../Assets/img/reasons/reasons-bg.jpg)  no-repeat center/cover;
    padding: 6.7rem 0 8rem 0;
    .vaccine-reason__content{
        width: 90vw;
        margin: auto;
        .vaccine-reasons__heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4rem;
            h1{
                max-width: 50rem;
            }
            p{
                max-width: 53.6rem;
            }
        }
        .vaccine-cards{
            display: flex;
            align-items: end;
            justify-content: space-between;
            .reasons-read__more{
                display: flex;
                align-items: center;
                gap: 1rem;
                a{
                    color: $secondary-white;
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 700;
                }
                img{
                    width: 3rem;
                    height: 3rem;
                }
            }
            // card 1
            .card-1{
                background-color: opacify($secondary-black, 0.10);
                border-radius: 5rem 15rem 5rem 5rem;     
                max-width: 45rem;       
                padding: 4rem 5.5rem 7.8rem 4rem;   
                order: 1; 
                .card-ico{
                    padding: 1.4rem;
                    border-radius: 3rem;
                    background-color: $secondary-black;
                    margin-bottom: 4rem;
                }
                h2{
                    color: $primary-light-blue;
                    margin-bottom: 3rem;
                }  
                p{
                    color: $primary-white;
                    font-size: 1.8rem;
                    margin-bottom: 4.3rem;
                }
                a{
                    color:$primary-light-blue;
                }
            }
            // card 2 & 3
            .card-2,
            .card-3{
                width: 35rem;
                height: 35rem;
                border: 0.3rem solid $secondary-white;
                border-radius: 5rem;
                padding: 4rem 5.2rem 6.3rem 4rem;
                order: 2;
                margin-left: 2rem;
                .card-ico{
                    background-color: $secondary-black;
                    border-radius: 2.1rem;
                    padding: 0.9rem;
                    margin-bottom: 4rem;
                }
                h2{
                    margin-bottom: 5.6rem;
                }
            }
            .card-3{
                h2{
                    margin-bottom: 8.6rem;
                }
            }
        }
    }
}

// Registration section 

.registration{
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: $primary-black ;
    .registration-content{
        width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .registration-details{
            h1{
                width: 47rem;
                margin-bottom: 4rem;
            }
            h2{
                margin-bottom: 2rem;
            }
            p{
                color: transparentize($primary-black, 0.50);
                font-size: 2rem;
                width: 65.4rem;
                margin-bottom: 2rem;
            }
            input{
                border: none;
                font-size: 2.4rem;
                font-weight: 500;
                color: transparentize($primary-black, 0.45);
                &::placeholder{
                    font-size: 2.4rem;
                    font-weight: 500;
                    color: transparentize($primary-black, 0.75);
                }
                &:focus-visible{
                    outline: none;
                }
            }
            .full-name{
                width: 65rem;
                height: 7rem;
                background-color:rgba(11, 21, 60, 0.15);
                border-radius: 2rem;
                padding: 2rem 3rem;
                margin-bottom: 4rem;

            }
            .phone-field{
                display: flex;
                gap: 3.6rem;
                align-items: center;
                width: 40rem;
                margin-bottom: 4rem;
                .phone-number{
                    display: flex;
                    align-items: center;
                    background-color: rgba(11, 21, 60, 0.15);
                    border-radius: 2rem;
                    min-width: 40rem;
                    padding: 1.5rem 3rem;
                    .flag{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                    }
                    input{
                        margin-left: 2rem;
                        background-color: transparent;
                    }
                }
                a{
                    padding: 2rem 7rem;
                    background-color: $primary-light-blue;
                    border-radius: 2rem;
                    color: $primary-white;
                    font-weight:700;
                    text-decoration: none;
                    
                }
            }
            .submit-reg{
                text-decoration: none;
                font-size: 2.4rem;
                font-weight: 700;
                background-color: $primary-light-blue;
                padding: 2rem 27.9rem;
                border-radius: 2rem;
                color: $primary-white;
                
            }
            .reg-footer{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4.6rem;
                font-size: 2rem;
                margin-top:5rem;
                span{
                    color: transparentize($primary-black, 0.50);
                    font-size: 2rem;
                    font-weight: 600;
                }
                a{
                    color:$primary-light-blue;
                    font-size: 2rem;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
        .registration-img{
            background-color:#0B153C;
            position: relative;
            width: 37.7rem;
            height: 55.3rem;
            border-radius: 2rem;
            .syringe{
                position: absolute;
                bottom: 0;
                left: 0;
            }
            .corona-reg{
                position: absolute;
                top: -1.5rem;
                left: -2rem;
            }
            h2{
                position: absolute;
                color: $primary-white;
                width: 11.6rem;
                top: 4.5rem;
                left: 14rem;
                text-align: center;
            }
        }
    }
}

//Symptoms section
.symptoms{
    background: url(../../Assets/img/symptoms/symptoms-bg.jpg) no-repeat center/cover;
    padding-top: 6.7rem;
    .symptoms-content{
        width: 90vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        h2{
            margin-bottom: 2rem;
        }
        h1{
            span{
                color: $primary-light-blue;
            }
            margin-bottom: 4rem;
        }
        p{
            width: 86rem;
             text-align: center;
        }
        .symptoms-img{
            margin-top:  18rem;
            position: relative;
            .sick{
                position: relative;
            }

            .symptom{
                position: absolute;
                display: flex;
                align-items: center;

                h2{
                    font-size: 2rem;
                    color: $primary-light-blue;
                    font-weight: 600;
                    background-color: opacify($secondary-black, 0.10);
                    padding: 2.3rem 0;
                    width: 30rem;
                    border-radius: 1rem;
                    position: relative;
                    left: -8rem;
                    display: inline-flex;
                    justify-content: space-evenly ;
                    margin: 0;
                }
                img{
                    position: relative;
                    width:10rem;
                    height: 10rem;
                    z-index: 2;
                }
    
            }
            .symptom-1{
                top: 3rem;
                left: -14rem;
            }
            .symptom-2{
                top: 21rem;
                left: -28rem;
                h2{
                    padding-left: 6rem;
                }
            }
            .symptom-3{
                top: 38rem;
                left: -36rem;
            }
            .symptom-4{
                top: 3rem;
                right: -24rem ;
                h2{
                    padding-left: 6.5rem;
                }
            }
            .symptom-5{
                top: 21rem;
                right: -34rem;
                h2{
                    padding-left: 6rem;
                }
            }
            .symptom-6{
                top: 38rem;
                right: -42rem;
            }
        }
    
    }
}

// Feedback section

.feedback-section{
    background: url(../../Assets/img/feedback/feedback-bg.jpg) no-repeat center/cover;
    .feedback-content{
        width: 90vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            margin: 5.7rem 0 2rem  0;
            color: $primary-light-blue;
        }
        h1{
            color: $primary-black;
            margin-bottom: 4rem;
        }
        p{
            color: transparentize($primary-black, 0.50);
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            max-width: 95.3rem;
        }
        .customer-feedback{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4.5rem;
            margin-bottom: 32.1rem;
            margin-top: 10rem;
            .profile{
                display: flex;
                align-items: end;
                justify-content: left;
                gap: 2rem;
                img{
                    width: 7rem;
                    height: 7rem;
                }
                .customer-info{
                    
                    h2{
                        margin: 0;
                        color: $primary-black;
                    }
                    p{
                        text-align: left;
                    }
                }
            }
            .customer{
                background-color: opacify($secondary-black, 0.4);
                padding: 3rem 3.3rem 4.4rem 3rem;
                border-radius: 2rem;
                .customer-testimonial{
                    max-width: 37.3rem;
                    margin-top: 4rem;
                    text-align: center;
                    font-size: 1.8rem;
                    span{
                        color: $primary-light-blue;
                    }
                }
            }
            .pick-customer{
                background-color: $primary-light-blue;
                box-shadow: 0px 4px 3px 2px rgba(33, 37, 41, 0.25);
                p{
                    color: $primary-white;
                }
                .customer-info{
                    h2{
                        color: $primary-white;
                    }
                }
            }
        }
    }
}

// media queries

// medium desktop
@media screen and (max-width: 1330px){
    .partners-section{
        .partners{
            gap: 2.8rem;
            img{
                width: 21%;
            }
        }
    }
   .symptoms{
    .symptoms-content{
        .symptoms-img{
            .symptom-1{
                top: 3rem;
                left: -9rem;
            }
            .symptom-2{
                top: 21rem;
                left: -23rem;
                h2{
                    padding-left: 6rem;
                }
            }
            .symptom-3{
                top: 38rem;
                left: -31rem;
            }
            .symptom-4{
                top: 3rem;
                right: -18rem ;
                h2{
                    padding-left: 6.5rem;
                }
            }
            .symptom-5{
                top: 21rem;
                right: -28rem;
                h2{
                    padding-left: 6rem;
                }
            }
            .symptom-6{
                top: 38rem;
                right: -36rem; 
            }
        }
    }
   }
}
// mini - desktop

@media screen and (max-width: 1178px){
    .hero{
        .hero-info{
            flex-wrap: wrap; 
            .hero-img{
                margin-bottom: 5rem;
            }
        }
        .hero-banner{
            .banner-items{
                flex-wrap: wrap;
                .row1,
                .row2{
                    width: 100%;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                }
                .submit-banner{
                    width: 28.3rem;
                    justify-content: center;
                }
            }
        }
    }
    .partners-section{
       .partners{
        img{
            max-width: 21%;
        }
       } 
    }
    .check-corona{
        .check-covid{
            width: 85vw;
            .check-title{
                text-align: left;
            }
            .check-patient{
            flex-direction: column;
            align-items: start;
            width:80%;
            margin-left: auto;
                input{
                    width: 50rem;
                }
            }
            .covid-cert{
                h2{
                    font-size: 2rem; 
                }
                a{
                    font-size: 2rem; 
                }
            }
        } 
    }
    .vaccine-reasons{
        .vaccine-reason__content{
            .vaccine-reasons__heading{
                flex-direction: column;
                align-items: start;
                h1{
                    margin-bottom: 4.1rem; 
                }
            }
            .vaccine-cards{
                flex-wrap: wrap;
                gap: 4rem;
                // .card-2,
                // .card-3{
                //     margin: 0;
                // }
                .card-1{
                    order: 1;
                }
                .minidesktop-cards{
                    order: 2; 
                    display: flex;
                    gap: 3.7rem;
                }
            }
        }
    }
    .registration{
        .registration-content{
            flex-direction: column;
            align-items: start;
            h1{
                margin-bottom: 6.5rem;
            }
            .registration-details{
                order: 2;
            }
            .registration-img{
                order: 1;
                margin-bottom: 7rem;
            }
        }
    }
    .symptoms{
        .symptoms-content{
            .symptoms-img{
                .sick{
                    width: 45.8rem;
                }
                .symptom{
                    h2{
                        font-size: 1.8rem;
                        padding: 1.2rem 0 1.2rem 0.9rem;
                        width: 15rem;
                        left: -3rem;
                        
                    }
                    img{
                        width: 6.5rem;
                        height: 6.5rem; 
                    }
                }
                    .symptom-1{
                        top: 1.5em;
                        left: -5rem;
                    }
                    .symptom-2{
                        top: 20rem;
                        left: -17rem;
                        
                        h2{
                            padding-left: 2rem;
                            width: 22.5rem;
                        }
                    }
                    .symptom-3{
                        top: 11rem;
                        left: -11rem;
                    }
                    .symptom-4{
                        top: 1rem;
                        right: -15rem;
                        h2{
                            padding-left: 2rem;
                            width: 23rem;
                        }
                    }
                    .symptom-5{
                        top: 12rem;
                        right: -20rem;
                        h2{
                            padding-left: 2rem;
                            width: 22rem;
                        }
                    }
                    .symptom-6{
                        top: 21rem;
                        right: -18rem;
                        h2{
                            padding-left:2rem;
                            width: 15rem;
                        }
                        
                    }
                }
        } 
    }
    .feedback-section{
        background: url(../../Assets/img/feedback/feedback-bg-small.jpg) no-repeat center/cover;
        .feedback-content{
            .customer-feedback{
                flex-direction: column;
            }
        }
    }
    
}  

// tablet 
@media screen and (max-width: 768px){
    .vaccine-reasons{
        .vaccine-reason__content{
            .vaccine-cards{
                .card-2,
                .card-3{
                    width: 29.6rem;
                    height: 29rem;
                    h2{
                        margin-bottom: 2.4rem;
                    }
                }
                .card-3{ 
                    img.card-ico{
                        margin-bottom: 4.5rem;
                    }
                }
            }
        }
    }

}
// mobile
@media screen and (max-width: 650px){ 
    .hero{
        .banner-icon{
            width: 3.5rem;
            height: 3.5rem; 
        }
        margin-top: 2rem;
        .hero-info{
            text-align: left;
            gap:5rem;
            .hero-content{
                h1{
                    margin-bottom: 2rem;
                }
                h2{
                    margin-bottom: 2rem;
                }
                p{
                    margin-bottom: 4rem;

                }
                .hero-btn{
                    a{
                        font-size: 1.4rem;
                    }
                    .hero-btn__primary, 
                    .hero-btn__secondary{
                        display: inline-flex;
                        width: 14rem;
                    }
                }
            }
            .hero-img{
                .main-img{
                    img{
                        width: 25.6rem;
                        height: 27.5rem;
                    }
                }
                .inspecting-img{
                    img{
                        width: 5rem;
                        height: 5rem;
                    }
                }
                .corona-img{
                    img{
                        width: 5rem;
                        height: 4.7rem;
                    }
                }
                .doctors{
                    h2{
                        font-size: 1.2rem;
                    }
                    padding: 1rem 1.5rem;
                    img{
                        width: 3.8rem;
                        height: 3.8rem;
                    }
                }
            }
           
        } 
        .hero-banner{
            .banner-title{
                gap: 1rem;
            }
            .banner{
                padding: 2.4rem 1rem;
                .banner-items{
                    gap:0;
                .row1,
                .row2{
                    flex-wrap: wrap;
                    div{
                        gap: 1rem;
                        margin-bottom: 1.4rem;
                        margin-right: 2rem;
                    }
                }  
                .submit-banner{
                    width: 15rem; 
                    height: 5rem;
                    border-radius: 1rem;
                    a{
                        h2{
                            font-size: 1.4rem;
                        }
                    }
                }
                }
                
            }
        }
    }
    .partners-section{
        .partners{
            gap: 1.2rem;
        
        } 
     }
    .check-corona{
        .check-covid{
            .check-title{
                padding: 1.4rem 0;
            }
            .check-patient{
                width: 90%;
                input{
                    min-width: 41rem;
                    max-width: 28rem; 
                    height: 5rem;
                    border-radius: 1rem;
                    &::placeholder{
                        font-size: 1.4rem;
                    }
                } 
                a{
                    padding: 1.6rem 5rem;
                    font-size: 1.4rem;
                    border-radius: 1rem;
                }
            }
            .covid-cert{
                text-align: center; 
                padding: 1.3rem 1.4rem;
                h2{
                    font-size: 1.4rem;
                    a{
                        font-size: 1rem;
                        margin-left: 0.4rem;
                    }

                }
            }
        }
    }
    .vaccine-reasons{
        .vaccine-reason__content{
            .vaccine-reasons__heading{
                width: 80%;
                margin: 0 auto 4rem auto;
                h1{
                    margin-bottom: 1.7rem;
                }
            }
            .vaccine-cards{
                width: 80%;
                margin: auto;
                justify-content: start;
                gap: 3rem;
                .card-1{
                    padding: 2rem 2rem 3.2rem 2rem;
                    border-radius: 2rem 8rem 2rem 2rem;

                }
                .card-2,
                .card-3{
                    padding: 2rem 1.2rem 2.3rem 2rem;
                    
                    margin-left: 0;
                    h2{
                        font-size: 2rem;
                        margin-bottom: 2rem;
                    }
                }
                .minidesktop-cards{
                    flex-direction: column;
                    gap: 3rem; 
                }
            }
        }
    }
    .registration{
        .registration-content{
            align-items: center; 
            h1{
                text-align: center;
                margin-bottom: 4rem; 
            }
            .registration-img{
                width: 28.9rem;
                height: 41.83rem;
                img.syringe{
                    width: 28.65rem;
                    height: 36.5rem;
                }
                img.corona-reg{
                    width: 7.48rem;
                    height: 7.22rem;
                }
                h2{
                    font-size: 2rem; 
                    top: 2.5rem;
                    left: 8rem;
                }
            }
            .registration-details{
                width: 100%;
                input{
                    &::placeholder{
                        font-size: 1.8rem;
                    }
                }
                h2{
                    font-size: 1.8rem;
                }
                input.full-name{
                    width: 30.5rem; 
                    height: 5rem;
                    margin-bottom: 2rem;
                    border-radius: 1rem;
                    padding: 1.3rem 2rem 1rem 2rem;
                }
                p{
                    font-size: 1.8rem;
                    width: 32.1rem;
                }
                .phone-field{min-width: fit-content;
                    margin-bottom: 3rem;
                    flex-wrap: wrap;
                    .phone-number{
                        min-width: 20rem;
                        width: 30.5rem;
                        height: 5rem;
                        border-radius: 1rem;   
                        padding: 1.3rem 2rem 1rem 2rem;
                    }
                    a{
                        border-radius: 1rem;
                        font-size: 1.4rem;
                    }
                }
                a.submit-reg{
                    border-radius: 1rem;
                    margin-bottom: 2rem;
                    padding: 2rem 12.9rem;
                    display: inline-block;
                    font-size: 1.4rem;
                }
                .reg-footer{
                    justify-content: start ;
                    gap: 2rem;
                    margin-top: 0;
                    span,
                    a{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .symptoms{
        .symptoms-content{
            h1{
                margin-bottom: 1rem; 
            }
            h2{
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.2rem;
                max-width: 29.6rem;
            }
            .symptoms-img{
                margin-top: 3rem;
                img.sick{
                    width: 22.3rem;
                    height: 16.7rem;
                }
                .symptom{
                    img{
                        width: 3.2rem;
                        height: 3.2rem;
                    }
                    h2{
                        font-size: 0.87rem;
                        padding: 0.58rem 0.78rem 0.55rem 2.8rem;
                        width: 8.5rem;
                        border-radius: 0.48rem; 
                        left: -2rem;
                    }
                } 
                .symptom-1{
                    top: 1.5em;
                    left: -2rem;
                    h2{
                        margin-right: 1rem;
                    }
                }
                .symptom-2{
                    top: 6rem;
                    left: -4rem;
                    
                    h2{
                        padding: 0.58rem 0.78rem 0.55rem 1rem;
                        width: 12.6rem;
                    }
                }
                .symptom-3{
                    top: 10rem;
                    left: -6rem;
                }
                .symptom-4{
                    top: 1.75rem; 
                    right: -7rem;
                    h2{
                        padding-left: 2rem;
                        width: 13rem;
                    }
                }
                .symptom-5{
                    top: 6.5rem;
                    right: -9.5rem; 
                    h2{
                        padding-left: 2rem;
                        width: 12rem;
                    }
                }
                .symptom-6{
                    top: 11rem;
                    right: -8.5rem;
                    h2{ 
                        padding-left: 2rem;
                        width: 9rem;
                    }
                     
                }
            }
        }
    }
    .feedback-section{
        .feedback-content{
            h2{
                font-size: 1.4rem;
            }
            h1{
                margin-bottom: 1rem;
            }
            p{
                width: 24.8rem;
                margin-bottom: 1.6rem; 
                font-size: 1.2rem;
            }
            .customer-feedback{
                margin-top: 0;
                gap: 3rem; 
                margin-bottom: 24rem; 
                .customer{
                    width: 30.5rem;
                    height: 19.1rem;
                    .profile{
                        img{
                            width: 5.3rem;
                            height: 5.3rem; 
                        }
                        .customer-info{
                            p{
                                font-size: 1rem;
                            }
                            h2{
                                font-size: 1.35rem;
                            }
                        }
                    }
                    p.customer-testimonial{
                        margin: 3rem 0 3.3rem 0;
                        font-size: 1.2rem;
                    }
                }
            }
        }

    }
} 
@media screen and (max-width: 375px){ 
    .hero{
        .banner-icon{
            width: 3.5rem;
            height: 3.5rem; 
        }
        margin-top: 2rem;
        .hero-info{
            text-align: left;
            gap:5rem;
            .hero-content{
                h1{
                    margin-bottom: 2rem;
                }
                h2{
                    margin-bottom: 2rem;
                }
                p{
                    margin-bottom: 4rem;

                }
                .hero-btn{
                    a{
                        font-size: 1.4rem;
                    }
                    .hero-btn__primary, 
                    .hero-btn__secondary{
                        display: inline-flex;
                        width: 13.8rem;
                    }
                }
            }
            .hero-img{
                .main-img{
                    img{
                        width: 25.6rem;
                        height: 27.5rem;
                    }
                }
                .inspecting-img{
                    img{
                        width: 5rem;
                        height: 5rem;
                    }
                }
                .corona-img{
                    img{
                        width: 5rem;
                        height: 4.7rem;
                    }
                }
                .doctors{
                    padding: 1.5rem 2rem;
                    img{
                        width: 3.8rem;
                        height: 3.8rem;
                    }
                }
            }
           
        } 
        .hero-banner{
            .banner-title{
                gap: 1rem;
            }
            .banner{
                padding: 2.4rem 1rem;
                .banner-items{
                    gap:0;
                .row1,
                .row2{
                    flex-wrap: wrap;
                    div{
                        gap: 1rem;
                        margin-bottom: 1.4rem;
                        margin-right: 2rem;
                    }
                }  
                .submit-banner{
                    width: 15rem; 
                    height: 5rem;
                    border-radius: 1rem;
                    a{
                        h2{
                            font-size: 1.4rem;
                        }
                    }
                }
                }
                
            }
        }
    }
    .partners-section{
        .partners{
            gap: 1.2rem;
        
        } 
     }
    .check-corona{
        .check-covid{
            .check-title{
                padding: 1.4rem 0;
            }
            .check-patient{
                width: 90%;
                input{
                    min-width: 10rem;
                    max-width: 28rem; 
                    height: 5rem;
                    border-radius: 1rem;
                    &::placeholder{
                        font-size: 1.2rem;
                    }
                } 
                a{
                    padding: 1.6rem 5rem;
                    font-size: 1.4rem;
                    border-radius: 1rem;
                }
            }
            .covid-cert{
                text-align: center; 
                padding: 1.3rem 1.4rem;
                h2{
                    font-size: 1rem;
                    a{
                        font-size: 1rem;
                        margin-left: 0.4rem;
                    }

                }
            }
        }
    }
    .vaccine-reasons{
        .vaccine-reason__content{
            .vaccine-reasons__heading{
                width: 80%;
                margin: 0 auto 4rem auto;
                h1{
                    margin-bottom: 1.7rem;
                }
            }
            .vaccine-cards{
                width: 80%;
                margin: auto;
                justify-content: start;
                gap: 3rem;
                .card-1{
                    padding: 2rem 2rem 3.2rem 2rem;
                    border-radius: 2rem 8rem 2rem 2rem;
                    .card-ico{
                        padding: 1rem;
                        margin-bottom: 2rem;
                        width: 5rem;
                        height: 5rem;
                        border-radius: 1rem;
                    }
                    p{
                        font-size: 1.2rem;
                        margin-bottom: 2.6rem;
                        max-width: 23.5rem;
                    }
                    h2{
                        font-size: 1.4rem;
                        margin-bottom: 2rem;
                        max-width: 17rem ;
                    }
                    .reasons-read__more{
                        a{
                            font-size: 1.4rem;
                        }
                        img{
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
                .card-2,
                .card-3{
                    padding: 2rem 1.2rem 2.3rem 2rem;
                    width: 18.8rem;
                    height: 20.2rem;
                    border-radius: 2rem;
                    margin-left: 0;
                    img.card-ico{
                        width: 5rem;
                        height: 5rem;
                        border-radius: 1rem;
                        margin-bottom: 3rem;
                    }
                    h2{
                        font-size: 1.4rem;
                        margin-bottom: 2rem;
                    }
                }
                .minidesktop-cards{
                    flex-direction: column;
                    gap: 3rem; 
                }
            }
        }
    }
    .registration{
        .registration-content{
            align-items: center; 
            h1{
                text-align: center;
                margin-bottom: 4rem; 
            }
            .registration-img{
                width: 28.9rem;
                height: 41.83rem;
                img.syringe{
                    width: 28.65rem;
                    height: 36.5rem;
                }
                img.corona-reg{
                    width: 7.48rem;
                    height: 7.22rem;
                }
                h2{
                    font-size: 1.4rem; 
                    top: 2.5rem;
                    left: 8rem;
                }
            }
            .registration-details{
                width: 100%;
                input{
                    &::placeholder{
                        font-size: 1.4rem;
                    }
                }
                h2{
                    font-size: 1.4rem;
                }
                input.full-name{
                    width: 30.5rem; 
                    height: 5rem;
                    margin-bottom: 2rem;
                    border-radius: 1rem;
                    padding: 1.3rem 2rem 1rem 2rem;
                }
                p{
                    font-size: 1.4rem;
                    width: 32.1rem;
                }
                .phone-field{
                    flex-wrap: wrap;
                    margin-bottom: 6rem;
                    .phone-number{
                        min-width: 20rem;
                        width: 30.5rem;
                        height: 5rem;
                        border-radius: 1rem;   
                        padding: 1.3rem 2rem 1rem 2rem;
                    }
                    a{
                        border-radius: 1rem;
                        font-size: 1.4rem;
                    }
                }
                a.submit-reg{
                    border-radius: 1rem;
                    margin-bottom: 2rem;
                    padding: 2rem 12.9rem;
                    display: inline-block;
                    font-size: 1.4rem;
                }
                .reg-footer{
                    gap: 2rem;
                    margin-top: 0;
                    span,
                    a{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .symptoms{
        .symptoms-content{
            h1{
                margin-bottom: 1rem; 
            }
            h2{
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.2rem;
                max-width: 29.6rem;
            }
            .symptoms-img{
                margin-top: 3rem;
                img.sick{
                    width: 22.3rem;
                    height: 16.7rem;
                }
                .symptom{
                    img{
                        width: 3.2rem;
                        height: 3.2rem;
                    }
                    h2{
                        font-size: 0.87rem;
                        padding: 0.58rem 0.78rem 0.55rem 2.8rem;
                        width: 8.5rem;
                        border-radius: 0.48rem; 
                        left: -2rem;
                    }
                } 
                .symptom-1{
                    top: 1.5em;
                    left: -2rem;
                    h2{
                        margin-right: 1rem;
                    }
                }
                .symptom-2{
                    top: 6rem;
                    left: -4rem;
                    
                    h2{
                        padding: 0.58rem 0.78rem 0.55rem 1rem;
                        width: 12.6rem;
                    }
                }
                .symptom-3{
                    top: 10rem;
                    left: -6rem;
                }
                .symptom-4{
                    top: 1.75rem; 
                    right: -7rem;
                    h2{
                        padding-left: 2rem;
                        width: 13rem;
                    }
                }
                .symptom-5{
                    top: 6.5rem;
                    right: -9.5rem; 
                    h2{
                        padding-left: 2rem;
                        width: 12rem;
                    }
                }
                .symptom-6{
                    top: 11rem;
                    right: -8.5rem;
                    h2{ 
                        padding-left: 2rem;
                        width: 9rem;
                    }
                     
                }
            }
        }
    }
    .feedback-section{
        .feedback-content{
            h2{
                font-size: 1.4rem;
            }
            h1{
                margin-bottom: 1rem;
            }
            p{
                width: 24.8rem;
                margin-bottom: 1.6rem; 
                font-size: 1.2rem;
            }
            .customer-feedback{
                margin-top: 0;
                gap: 3rem; 
                margin-bottom: 24rem; 
                .customer{
                    width: 30.5rem;
                    height: 19.1rem;
                    .profile{
                        img{
                            width: 5.3rem;
                            height: 5.3rem; 
                        }
                        .customer-info{
                            p{
                                font-size: 1rem;
                            }
                            h2{
                                font-size: 1.35rem;
                            }
                        }
                    }
                    p.customer-testimonial{
                        margin: 3rem 0 3.3rem 0;
                        font-size: 1.2rem;
                    }
                }
            }
        }

    }
} 
