@import "colors";
// Hero section
.hero{
    width: 90vw;
    margin: auto;
    margin-top: 12rem;
    .hero-info{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 12rem;
        .hero-content{
            h2{
                color: $primary-light-blue;
                margin-bottom: 4rem;
            }
            h1{
                color: $primary-white;
                max-width: 55rem;
                span{
                    color: $primary-light-blue;
                }
                margin-bottom: 5rem;
            }
            p{
                font-weight: 700;
                color: opacify($secondary-white, 0.2);
                max-width: 60rem;
                margin-bottom: 5rem;
                
            }
            .hero-btn{
                a{
                    color: $primary-white;
                    font-weight: 700;
                    font-size: 2.4rem;  
                    text-decoration: none;
                    padding: 2rem 2.5rem;
                    border-radius: 2rem;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    
                }
                .hero-btn__primary{
                    background-color: $primary-light-blue;
                }
                .hero-btn__secondary{
                    background-color: transparentize($color: $secondary-white, $amount: 0.25);
                    margin-left: 2rem;
                }

            }
        }
    }
    .hero-img{
        position: relative;
        .main-img{
            img{
                border-radius: 4.3rem;
            }
        }
        .doctors,.corona-img,.inspecting-img{
            position: absolute;  
        }
        .corona-img{
            top: 41%;
            left: 88.5%;
        }
        .inspecting-img{
            top: 41%;
            left: -10.5%;
        }
        .doctors{
            display: flex;
            background-color: transparentize( $secondary-white, 0.3);
            padding: 2rem;
            max-width: fit-content;
            border-radius: 2rem;
            top: 90%;
            left: -9%;
        }
            h2{
                margin-left: 2.1rem;
            }
            span{
                color: $primary-light-blue;
            }
            img{
                position: relative;
                clear: both;
                &:nth-child(1){
                    left: 0;
                }
                &:nth-child(2){
                    left: -0.5%;
                }
                &:nth-child(3){
                    left: -1%;
                }
            }
            
        }
    .banner-icon{
        background-color: transparentize($secondary-white, 0.4);
        padding: 1rem;
        border-radius: 1rem;
        width: 5rem;
        height: 5rem;

    }  
    .hero-banner{
        width: 90vw;
        margin: auto;
        .banner-title{
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;
        }
        .banner{
            padding: 6rem 4rem 5rem 4rem;
            background-color: transparentize($secondary-white, 0.45);
            border-radius: 2rem 2rem 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .banner-items{
                display: flex;
                gap: 5rem;
                .location,
                .date,
                .vaccine{
                    display: flex;
                    gap: 2rem;
                }
                
            }
            .submit-banner{
                background-color: $primary-light-blue;
                display: inline-flex;
                padding: 2rem 2.5rem;
                border-radius: 2rem;
               a{
                text-decoration: none;
                color: $primary-white;
               }
            }
        }
    }    
    }

//Patners section

.partners-section{
    background-color: $secondary-white;
    padding: 2rem 0 1rem 0;
    .partners{
        width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4.8rem;
        img {
            fill:grey;
        }
    }
}
