@import 'colors';
// Front section
body{
    overflow-x: hidden; 
}
.back-drop{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: transparentize($primary-black, 0.4);
    display: none; 
    z-index: 200;
    user-select: none;
}
.coming-soon{
    background-color: $primary-white;
    border-radius: 2rem;
    border: 1px solid $primary-light-blue;
    width: 73rem;
    height: 32rem;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(-50%, -50%) translate(-0.078px, -0.213px) scale(0, 0);
    z-index: 250;;
    color: $primary-light-blue;
    display:none; 
    place-content: center; 
    gap: 6rem;
    padding-top: 6rem;
    justify-items: center; 
    transition: all 200ms ease-in;
     button{
        all: unset;
        width: 14rem;
        height: 5rem;
        font-size: 2.2rem;
        border-radius: 0.6rem;
        background-color: $primary-light-blue;
        border: 1px solid $primary-light-blue;
        cursor: pointer;
        transition: background 200ms ease-in,color 200ms ease-in; 
        display: grid;
        place-content: center;
        color: $primary-white;
        &:hover{ 
            background-color:  rgb(244, 244, 244); 
            color: $primary-light-blue;
        }
     }
}
.success{
    background-color: $primary-white;
    border-radius: 2rem;
    border: 1px solid $primary-light-blue;
    width: 73rem;
    height: 32rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 250;;
    color: rgb(0, 227, 0);
    display:grid; 
    place-content: center; 
    gap: 6rem;
    padding-top: 6rem;
    justify-items: center; 
    transition: all 200ms ease-in;
     button{
        all: unset;
        width: 14rem;
        height: 5rem;
        font-size: 2.2rem;
        border-radius: 0.6rem;
        background-color: rgb(0, 227, 0);
        border: 1px solid rgb(0, 227, 0);
        cursor: pointer;
        transition: background 200ms ease-in,color 200ms ease-in; 
        display: grid;
        place-content: center;
        color: $primary-white;
        &:hover{ 
            background-color:  rgb(244, 244, 244); 
            color: rgb(0, 227, 0);
        }
     }
}
.open-modal{
    display: grid !important;
}

.front{
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background:rgba(0, 0, 0, 1) url(../Assets/img/front.jpg) no-repeat center/cover ;
}
// header section
.main-header{
    width: 90vw;
    min-height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.1rem;
    position: sticky;
    top: 0; 
    z-index: 100;
    &::before{
        content: '';
        background: linear-gradient(#1f2645,75%, transparent );  
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw; 
        min-height: 9vh;
        padding-top: 2.1rem;
        padding-bottom: 1rem;
        z-index: -200;
    }
    .burger{
        display: none;
        transition: transform 300ms ease-in-out;
        transform-origin: center; 
    }
    .burger.rotated{
        transform: rotate(20deg);
    }
   .mobile-nav{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh; 
    background-color: #1f2645;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap:5rem; 
    z-index: -1;
    a{ 
        color: $secondary-white; 
        text-decoration: none;
        font-weight: 600;
        font-size: 3.8rem;   
    }
    a.active-mob{
        color: $primary-white;
        font-size: 4rem;
    } 
   
  
   }
    .logo{ 
        a{
            text-decoration: none;
        }
        h1{
            color: $primary-white;
            font-size: 3.2rem;
            margin-bottom: 1rem;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                background-color: $primary-light-blue;
                width: 10rem;
                height: 1px;
                top: 98%; 
                left: 0%;
                border-bottom: $primary-light-blue 2px solid;
                border-radius: 5px;

            }
        }
    }
    .main-nav{
        display: flex;
        align-items: center;

        .main-nav-items{
            display: flex;
            list-style: none;
            
            .main-nav-item{
                margin-left: 2.5rem;
                font-size: 2.4rem;
                font-weight: 500;
                color: $secondary-white;
                user-select: none;
                cursor: pointer;
                transition: color 300ms ease,font-size 200ms ease;
                a{
                    color: $secondary-white;
                    text-decoration: none;
                }
            }
            .active{
                font-weight: 700;
                color: $primary-white;
                padding-bottom: 0.5rem;
                position: relative;
                
                &:before{
                    content: '';
                    position: absolute;
                    background-color: $primary-light-blue;
                    top: 80%;
                    left: 40%;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    margin-top: 0.3rem;
                    animation: 270ms ease-in-out dot;  

                }
                a{
                    text-decoration: none;
                    color: white !important;


                }
            }
        }
    }

    .nav-cta{
        padding: 2rem 2.6rem;
        background-color: transparentize($secondary-white,0.4);
        border-radius: 2rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        a{
            text-decoration: none;
            color: $primary-light-blue;
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}

// footer section
.main-footer{
    background: url(../Assets/img/footer/footer-bg.jpg) no-repeat center/cover;
    padding: 32.8rem 0 12.8rem 0;
    .footer-content{
        width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            h1{
                color: $primary-white;
                font-size: 3.2rem;
                margin-bottom: 1rem;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    background-color: $primary-light-blue;
                    width: 10rem;
                    height: 1px;
                    top: 98%; 
                    left: 0%;
                    border-bottom: $primary-light-blue 2px solid;
                    border-radius: 5px;
    
                }
            }
        }
        .footer-nav{
            display: flex;
            align-items: center;
            position: relative;
    
            .footer-nav-items{
                display: flex;
                list-style: none;
                
                .footer-nav-item{
                    margin-left: 2.5rem;
                    font-size: 2.4rem;
                    font-weight: 500;
                    a{
                        
                        color: $secondary-white;
                        text-decoration: none;
                    }
                        .active-foot{
                               
                                font-weight: 700;
                                color: $primary-white;
                             
                    }
                }
            }
        }
    }

    // quote section
    .quote{
        position: absolute;
        z-index: 5 ;
        top: -56rem;
        left: -55%;
        width: 103.1rem;
        height: 40rem;
        background-color: $primary-light-blue;
        display: flex;
        align-items: center ;
        justify-content: center;
        border-radius: 5rem;
        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            width: 106.7rem;
            height: 43.5rem;
            border-radius:5rem ;
            background-color: opacify($secondary-black, 0.05 );
        }

         .quote-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h1{
               margin-bottom: 2rem;
            }
            p{
                color: $primary-white;
                margin-bottom: 4rem;
            }
            .quote-email{
                display: flex;
                align-items: center;
                input{
                    border:none;
                    background-color: $primary-white;
                    padding: 2.5rem 4rem;
                    width: 45rem;
                    border-radius: 3rem 0 0 3rem;
                    box-shadow: 0px 4px 4px 0px  transparentize($primary-black, 0.90);
                    font-size: 2rem;
                    &:focus-visible{
                        outline: none;
                    }
                    &::placeholder{
                        color: transparentize($primary-black, 0.75);
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }
               
                    img{
                    background-color: #0B153C;;
                    border-radius: 0 3rem 3rem 0;
                    padding: 1.7rem 3rem 1.7rem 3rem;
                }
                
                 
            }
         }
    }
}

// media queries
// Large screens{
@media screen and (min-width: 1330px){
   .main-header{
    width: 75vw;
    margin:auto;
   }
   .main-footer{
       padding-bottom: 6rem; 
    .footer-content{
        width: 75vw; 
        
    }
   }
}

.open-mob{
    display: flex !important;
    animation: 500ms ease  openNav;  
} 
.close-mob{
    display: flex !important;
    animation: 500ms ease closeNav;
}
// medium desktop
@media screen and (max-width: 1330px){

   
}
// mini desktop
@media screen and (max-width: 1178px){
    .main-header{
        &::before{
            min-height: 7vh; 
        }
        .burger{ 
            display: block;
        }
        .main-nav{
            display: none;
        }
        .nav-cta{
            display: none;
        }
    }
    .main-footer{
        padding-bottom: 5rem;
        .footer-content{
            flex-direction: column;
            align-items: start;
            .logo{
                margin-bottom: 4rem;
                h1{
                    &:before{
                        top: 45px;
                        height: 3px;
                        
                    }
                }
            }
            .footer-nav{
                margin-bottom: 4rem;
                .footer-nav-items{
                    gap: 2.5rem;
                    .home{
                        margin: 0;
                    } 
                } 
                }
                .socialmedia{
                    display: flex;
                    gap: 0.63rem;
                }
            }
            .quote{
                width: 81rem;
                height: 33rem;
                top: -60rem;
                left: 14%;
                &::before{
                    width: 85.7rem;
                    height: 38.5rem;
                }
            }
        }

    }

// misc break point
@media screen and (max-width: 920px){
    .main-footer{
        .quote{
            left: 1%;
        }
    }
}

// tablet
@media screen and (max-width: 768px){
    .main-footer{
        .quote{
            width: 65.9rem;
            height: 26.3rem;
            top: -60rem;
            left: 4%;
            &:before{
                width: 70.9rem;
                height: 32rem;
            }
            .quote-content{
                p{
                    margin-bottom: 2.8rem;
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    .main-header{
        .burger{
            img{
            width: 4.5rem;
            height: 4.5rem; 
            }
        }
        .mobile-nav{
            a{
                font-size: 3rem;
            }
            a.active-mob{
                font-size: 3.2rem;
            }
        }
        .logo{
            h1{
                margin-bottom: 0;
                font-size: 1.8rem; 
            }
        }
    }
    .main-footer{
        padding: 13.3rem 0 3rem 0;
        .quote{
            width: 42rem;
            height: 19rem;
            border-radius: 2rem;
            top: -29rem;
            left: 8rem;
            &::before{
                width: 44rem;
                height: 21rem;
                border-radius: 2rem;

            }
            .quote-content{
                h1{
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }
                p{
                    font-size: 1.4rem; 
                }
                .quote-email{
                    margin-bottom: 0.8rem;
                    input{
                        width: 24rem;
                        height: 4rem;
                        border-radius: 2rem 0 0 2rem;
                        padding: 2.5rem 2.5rem ;
                        &::placeholder{
                            font-size: 1.3rem;
                        }
                    }
                    img{
                        width: 5.8rem;
                        height: 5rem;
                        padding: 0.7rem 2.3rem 0.7rem 1.1rem;
                    }
                }
            }
        }
        .footer-content{
            .logo{
                margin-bottom: 3rem; 
                h1{
                    font-size: 1.8rem;
                    &::before{
                        top: 2.8rem;
                    }
                }
            }
            .footer-nav{
                margin-bottom: 2rem;
                .footer-nav-items{
                    flex-direction: column;
                    gap: 1rem;
                    .footer-nav-item{
                        margin-left: 0;
                        a{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .socialmedia{
                a{
                    img{
                        width: 1.8rem;
                        height: 1.8rem;   
                }
                }
            }
        }
    }
}
@media screen and (max-width: 520px){
   .main-header{
        &::before{
            min-height: 6vh; 
        }
    }
    .main-footer{
        padding: 13.3rem 0 3rem 0;
        .quote{
            width: 32rem;
            height: 16rem;
            border-radius: 2rem;
            top: -28rem;
            left: 4rem;
            &::before{
                width: 33.5rem;
                height: 18.6rem;
                border-radius: 2rem;

            }
            .quote-content{
                h1{
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }
                p{
                    font-size: 1.2rem; 
                }
                .quote-email{
                    margin-bottom: 0.8rem;
                    input{
                        width: 20.5rem;
                        height: 4rem;
                        border-radius: 2rem 0 0 2rem;
                        padding: 2.5rem 2.5rem ;
                        &::placeholder{
                            font-size: 1.4rem;
                        }
                    }
                    img{
                        width: 5.8rem;
                        height: 5rem;
                        padding: 0.7rem 2.3rem 0.7rem 1.1rem;
                    }
                }
            }
        }
}
}
// mobile
@media screen and (max-width: 375px){ 
    .main-header{
        .burger{
            img{
            width: 4.5rem;
            height: 4.5rem; 
            }
        }
        .mobile-nav{
            a{
                font-size: 2.4rem;
            }
            a.active-mob{
                font-size: 2.6rem; 
            }
        }
        .logo{
            h1{
                margin-bottom: 0;
                font-size: 1.8rem; 
            }
        }
    }
    .main-footer{
        padding: 13.3rem 0 3rem 0;
        .quote{
            width: 28rem;
            height: 14.7rem;
            border-radius: 1rem;
            top: -26rem;
            left: 2.05rem;
            &::before{
                width: 30.5rem;
                height: 20.6rem;
                border-radius: 2rem;

            }
            .quote-content{
                h1{
                    font-size: 1.8rem;
                    margin-bottom: 0.5rem;
                }
                p{
                    font-size: 1rem; 
                }
                .quote-email{
                    margin-bottom: 0.8rem;
                    input{
                        width: 17.5rem;
                        height: 4rem;
                        border-radius: 2rem 0 0 2rem;
                        padding: 2.5rem 2.5rem ;
                        &::placeholder{
                            font-size: 1rem;
                        }
                    }
                    img{
                        width: 5.8rem;
                        height: 5rem;
                        padding: 0.7rem 2.3rem 0.7rem 1.1rem;
                    }
                }
            }
        }
        .footer-content{
            .logo{
                margin-bottom: 3rem; 
                h1{
                    font-size: 1.8rem;
                    &::before{
                        top: 2.8rem;
                    }
                }
            }
            .footer-nav{
                margin-bottom: 2rem;
                .footer-nav-items{
                    flex-direction: column;
                    gap: 1rem;
                    .footer-nav-item{
                        margin-left: 0;
                        a{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .socialmedia{
                a{
                    img{
                        width: 1.8rem;
                        height: 1.8rem;   
                }
                }
            }
        }
    }
}

// Animations

@keyframes dot {
    from{
        transform: translate3d(0,-1rem,0);
    }
    to{
        transform: translate3d(0,0,0);
    }
}
@keyframes openNav{
    from{
        transform: translate3d(0,-100%,0);
    }to{
        transform: translate3d(0,0%,0); 
    }
}
@keyframes closeNav{
    from{
        transform: translate3d(0,0%,0);
    }to{
        transform: translate3d(0,-100%,0); 
    }
}
